body {
    background: rgb(233, 233, 233);
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

h1,h2 {
    margin: 0px;
}

.stock-info{
    display: flex;
    flex-direction: column;
}

nav{
    text-align: center;
    color: azure;
    background-color:#464646;
    padding: 20px;
}

.about-link {
    margin-top: 10px;
    margin: 0 15px;
    padding: 10px 20px;
    background-color: #424242;
    border-radius: 20px;
    
}

.stocks{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    color: azure;
}

.stock-graph {
    background-color: rgb(56, 54, 54);
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(30, 76, 204, 0.822);
    width: 55%;
    border-style: dashed;
}

.stock-data{
    padding: 10px 0px 10px 20px;
}

.stock-data{
    border-style: solid;
    font-family: arial black;
    vertical-align: middle;
    margin: auto;
    a {
        font-size: medium;
        text-align: center;
    }
}

.table-wrap{
    float:right;
    font-size: medium;
}

.bottom-description{
    background-color: #333;
    text-align: center;
    font-size: larger;
    padding: 20px;
    left: 0;
    bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    color: azure;
}

.pic {
    max-width: 60px;
    margin: 12px;
    float: left;
    display: flex;

}

.glow-on-hover {
    width: 120px;
    height: 50px;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #fafafa;
    background-color: #333;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 100%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 15s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #333
}

.glow-on-hover:hover:before {
    opacity: 0.5;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

.stock-data-name{
    text-align: center;
    font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
}

.bottom{
    display: flex;
    flex-direction: column;
    height:30px; 
    margin-top: 180px;
}

.biography{
    text-align: center;
    max-width: max-content;
    font-family: Arial, Helvetica, sans-serif;
    max-height: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    border-radius: 20px;
    background-color: #333;
    color: azure;
    margin-top: 120px;
}

@media (min-width: 480px) and (max-width: 1024px) {
    p{
        font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    h2{
        font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    footer{
        font-size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    img{
         size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .bottom {
        size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
    .stock-data-name{
        size: calc(14px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
}

.stock-info {
    width: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 600px) {
    table {
      border: 0;
    }
    
    table th{
        display: none;
    }

    .pic{
        justify-items: center;
    }
  
    table tr {
      margin-bottom: 10px;
      display: block;
      border-bottom: 2px solid #ddd;
    }
  
    table td {
      display: block;
      text-align: right;
      font-size: 13px;
      border-bottom: 1px dotted #ccc;
      border-right: 1px solid transparent;
    }

  
    table td:before {
      content: attr(data-label);
      text-transform: uppercase;
      font-weight: bold;
    }
  }